<footer>
    <section>
        <div class="flex flex-col w-screen bg-dark-brand font-display items-center justify-center text-center gap-2 py-8">
            <p class="text-blue-brand">Made by F.T</p>
            <div class="flex gap-x-6">
                <a href="https://www.linkedin.com/in/florent-trouillet/" target="_blank" rel="noopener noreferrer" class="text-sm font-semibold text-blue-brand hover:underline">LinkedIn</a>
                <a href="https://github.com/flohms18" target="_blank" rel="noopener noreferrer" class="text-sm font-semibold text-blue-brand hover:underline">GitHub</a>
            </div>
        </div>
    </section>
</footer>