@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";


@font-face {
  font-family: "Jetbrains Regular";
  font-style: normal;
  src: url("../../fonts/jetbrains-mono/JetBrainsMono-Regular.woff2") format("woff2"),
       url("../../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf") format("truetype");
}

@theme {
  --color-dark-brand : #111111;
  --color-white-brand : #F5F5F5;
  --color-blue-brand : #4C6EF5;
  --font-display : "Jetbrains Regular";
  --font-ibm : "IBM Plex Sans", sans-serif;
}